version: '3'
services:
  web_app:
    build:
      context: . 
      dockerfile: ./web_app/Dockerfile
    ports:
      - "8080:5000"
    depends_on:
      - mongodb
    environment:
      FLASK_APP: web_app/app.py

  machine_learning_client:
    build:
      context: .
      dockerfile: ./machine_learning_client/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - web_app

  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./database:/data/db
