<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesture Recognition Camera</title>
    <style>
        #video_feed, #captured_image {
            width: 320px; /* Set the width of both video and captured image */
            height: 240px; /* Set the height of both video and captured image */
            margin-right: 10px; /* Add some margin between video and captured image */
        }
    </style>
</head>
<body>
    <h1>Gesture Recognition Camera Feed</h1>
    <div>
        <video id="video_feed" autoplay></video>
        <img id="captured_image">
    </div>
    <button onclick="takePicture()">Take Picture</button>

    <script>
        var video = document.getElementById('video_feed');
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');
        canvas.width = 320; // Set the width of the canvas
        canvas.height = 240; // Set the height of the canvas

        // Access the user's camera and set the stream as the source for the video element
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (error) {
                console.error('Error accessing the camera:', error);
            });

        function takePicture() {
            // Pause the video stream
            video.pause();

            // Draw the current frame on the canvas
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            // Get the image data from the canvas
            var imageData = canvas.toDataURL('image/jpeg', 0.8);

            // Set the source of the captured image element
            var capturedImage = document.getElementById('captured_image');
            capturedImage.src = imageData;

            // Send the image data to Flask server
            fetch('http://localhost:5002/rep', {
                method: 'POST',
                body: JSON.stringify({ frame: imageData }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error sending frame:', error));

            // Resume the video stream after taking the picture
            video.play();
        }
    </script>
</body>
</html>
