{% extends 'base.html' %}

 {%block content %}

    <body class="pageSix"> 
        <div id="welcomeBox">
            <h1>Welcome :/</h1>

            <ul> 
                <li><a href="/victory">Victory</a> </li>
                <li><a href="/thumbsDown">Thumbs Down</a></li>
                <li><a href="/thumbsUp">Thumbs Up</a></li>
                <li><a href="/rock">Rock</a></li>
                <li><a href="/stop">Stop</a></li>
            </ul>   
        </div>
    </body>

 {% endblock %}